.App {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  padding: 30px;
}
* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

.list {
  width: 70%;
}
.pair {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}

.dino {
 
  height: 100px;
  cursor: pointer;
}
button {
  border: none;
}
.name {
  width: 50%;
  font-weight: 800;
  font-size: 28px;
  padding: 13px;
  margin: 5px 0;
  color: white;
  display:flex;
  justify-content: center;
  letter-spacing: 2px; }
  .name:nth-child(even) {
    background: rgba(30, 70, 30, 0.877); }
  .name:nth-child(odd) {
    background: rgb(12, 12, 12); 
}